# Application configuration files
**/application.yaml
**/application.yml
**/application.properties
local-env.ps1
docker-compose.yml
# IDE files
.idea/
*.iml
*.iws
*.ipr
.vscode/
*.swp
*.swo

# Build and compiled files
target/
build/
*.class
*.jar
*.war
*.nar
*.zip
*.tar.gz
*.rar

# Maven
.m2/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# OS files
.DS_Store
Thumbs.db
